.App {
  text-align: center;
}

#header-container {
  padding-top: 120px;
  padding-bottom: 60px;
  max-width: 100%;
  background-color: rgb(14, 43, 54);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

}

#counters {
  color: lightgray;
}

body {
  background-color: lightgray;
}

#card-container {
  margin-top: 120px;
}

.card {
  width: 200px;
  height: 200px;
  object-fit: fill;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: .3s width;
}

.card:hover {
  width: 210px;
  transition: .3s width;
}

#logo {
  font-family: 'Henny Penny', cursive;
}

.subtitle, #counters {
  font-family: 'PT Sans Narrow', sans-serif;
}

h1 {
  color: darkkhaki;
}

h5 {
  color: lightgray;
}
